@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Crossover Library Portal</h1>
    <p class="lead">This is a Crossover Library Portal </p>
    <p>
        @Html.ActionLink("Browse Books", "Index", "BookList",null, new { @class = "btn btn-primary" })
    </p>
</div>

